## Muhammad Nabil Fahruddin Evan
### 103102400053

### Minggu 1

In [9]:
#variabel
nama = "evan"
umur = "20"

#tipe data 
bilangan_bulat = 10
bilangan_desimal = 3.14
teks = "halo,dunia!"
teks_multibaris = '''ronaldo
dan
messi '''
boolean = True

# Menampilkan nilai variabel
print('Nama:',nama, 'dan Umur:', umur)
print(f"Nama:{nama} dan umur : {umur}")
print('\n')
print(teks_multibaris)

Nama: evan dan Umur: 20
Nama:evan dan umur : 20


ronaldo
dan
messi

In [11]:
nama = "Evan"
a = 10; b = 8
kesibukan, keterangan = 'Berkuliah','Telkom University Surabaya'
print(f"Nama saya {nama} dan Umur saya adalah {a+b} Tahun dan sedang {kesibukan}, di {keterangan}")

Nama saya Evan dan Umur saya adalah 18 Tahun dan sedang Berkuliah, di Telkom University Surabaya

### Minggu 2

In [49]:
alas=float(input("panjang alas segitiga: "))
tinggi=float(input("tinggi segitiga: "))

luas=0.5*alas*tinggi

print("Luas segitiga adalah: ", luas)

panjang alas segitiga:  3
tinggi segitiga:  4

Luas segitiga adalah:  6.0

In [51]:
a=int(input("angka pertama: "))
b=int(input("angka kedua: "))

c=a+b

print("hasil penjumlahan: ", c)

angka pertama:  3
angka kedua:  4

hasil penjumlahan:  7

In [55]:
celcius=float(input("suhu dalam celcius: "))

farenheit=(celcius*9/5)+32

print("suhu dalam farenheit: ", farenheit)

suhu dalam celcius:  39

suhu dalam farenheit:  102.2

In [65]:
a=int(input("masukkan nilai a: "))
a=int(input("masukkan nilai b: "))
a=int(input("masukkan nilai c: "))

x=(a+b+c)/3

print(f"rata-rata dari 3 bilangan bulat tersebut adalah x={x}")

masukkan nilai a:  1
masukkan nilai b:  2
masukkan nilai c:  6

rata-rata dari 3 bilangan bulat tersebut adalah x=5.666666666666667

In [67]:
sisi=float(input("panjang sisi persegi: "))

luas=sisi*sisi
keliling=4*sisi

print("luas persegi adalah: ", luas)
print("keliling persegi adalah: ", keliling)

panjang sisi persegi:  45

luas persegi adalah:  2025.0
keliling persegi adalah:  180.0

### Tugas pemrograman NIM ganjil

In [70]:
 gaji = float(input("Masukkan gaji per jam: "))
jam_kerja = float(input("Masukkan jumlah jam kerja dalam 1 minggu: "))

hasil = (gaji*jam_kerja)
gaji_kotor = gaji * jam_kerja * 5
pajak = gaji_kotor * 0.14
gaji_bersih = gaji_kotor - pajak
baju = gaji_bersih * 0.1
alat_tulis = gaji_bersih * 0.01
sisa_uang = gaji_bersih - baju - alat_tulis
sedekah = sisa_uang * 0.25
anak_yatim = sedekah * 0.3
orang_dhuafa = sedekah * 0.7
uang_akhir = sisa_uang - (anak_yatim + orang_dhuafa)

print ("Pendapatan Budi selama libur musim panas sebelum melakukan pembayaran pajak adalah ", gaji_kotor) 
print("Pendapatan Budi selama libur musim panas setelah melakukan pembayaran pajak adalah", gaji_bersih) 
print("Jumlah uang yang akan Budi habiskan untuk membeli pakaian dan aksesoris adalah ", baju)
print("Jumlah uang yang akan Budi habiskan untuk membeli alat tulis adalah", alat_tulis)
print("Jumlah uang yang akan Budi sedekahkan adalah", sedekah)
print("Jumlah uang yang akan diterima anak yatim adalah",anak_yatim)
print("Jumlah uang yang akan diterima kaum dhuafa adalah",orang_dhuafa)
print("jumlah uang akhir milik budi adalah :", uang_akhir)

Masukkan gaji per jam:  40000
Masukkan jumlah jam kerja dalam 1 minggu:  70

Pendapatan Budi selama libur musim panas sebelum melakukan pembayaran pajak adalah  14000000.0
Pendapatan Budi selama libur musim panas setelah melakukan pembayaran pajak adalah 12040000.0
Jumlah uang yang akan Budi habiskan untuk membeli pakaian dan aksesoris adalah  1204000.0
Jumlah uang yang akan Budi habiskan untuk membeli alat tulis adalah 120400.0
Jumlah uang yang akan Budi sedekahkan adalah 2678900.0
Jumlah uang yang akan diterima anak yatim adalah 803670.0
Jumlah uang yang akan diterima kaum dhuafa adalah 1875229.9999999998
jumlah uang akhir milik budi adalah : 8036700.0

### Minggu 4

In [74]:
ulang=5
for i in range(ulang) :
    print("perulangan ke-",i)

perulangan ke- 0
perulangan ke- 1
perulangan ke- 2
perulangan ke- 3
perulangan ke- 4

In [76]:
x=[]
n=5
for i in range(n) : 
    x.append(float(input("masukan data:")))

masukan data: 7
masukan data: 4
masukan data: 5
masukan data: 8
masukan data: 6

In [78]:
for i in range (5):
    i+=2
    print(i)

2
3
4
5
6

In [80]:
for i in range(1,5):
    print(i)
    
else:
    print("done ga bang?")
    print("DONE!!!!")

1
2
3
4
done ga bang?
DONE!!!!

In [82]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [84]:
for i in "vinseng":
    print(i)

v
i
n
s
e
n
g

In [86]:
x=[1,3,8,10]
for i in x:
    print(i)

1
3
8
10

In [88]:
manuk=["haha","hihi","huhu","hehe","hoho"]
for i in manuk:
    print(i)

haha
hihi
huhu
hehe
hoho

In [90]:
for i in range (1,10,2) :
    i+=1
    print (i)

2
4
6
8
10

In [92]:
sum=0
for i in range (1,11) :
    sum+=i
    print (sum)

1
3
6
10
15
21
28
36
45
55

In [94]:
n= int(input("masukan jumlah data:"))
list_data=[float(input("masukan data:")) for _ in range (n)]
print("data kamu adalah",list_data)

masukan jumlah data: 5
masukan data: 6
masukan data: 9
masukan data: 3
masukan data: 2
masukan data: 5

data kamu adalah [6.0, 9.0, 3.0, 2.0, 5.0]

In [98]:
list_data=[]
for i in range(5):
    list_data.append(float(input("masukan data")))
    print("data kamu adalah",list_data)

masukan data 1

data kamu adalah [1.0]

masukan data 2

data kamu adalah [1.0, 2.0]

masukan data 3

data kamu adalah [1.0, 2.0, 3.0]

masukan data 4

data kamu adalah [1.0, 2.0, 3.0, 4.0]

masukan data 5

data kamu adalah [1.0, 2.0, 3.0, 4.0, 5.0]

In [100]:
for i in range (1,6) :
    for j in range (1,11):
        print (i,"x",j,"=",i*j)
        print()
print("awikwok")

1 x 1 = 1

1 x 2 = 2

1 x 3 = 3

1 x 4 = 4

1 x 5 = 5

1 x 6 = 6

1 x 7 = 7

1 x 8 = 8

1 x 9 = 9

1 x 10 = 10

2 x 1 = 2

2 x 2 = 4

2 x 3 = 6

2 x 4 = 8

2 x 5 = 10

2 x 6 = 12

2 x 7 = 14

2 x 8 = 16

2 x 9 = 18

2 x 10 = 20

3 x 1 = 3

3 x 2 = 6

3 x 3 = 9

3 x 4 = 12

3 x 5 = 15

3 x 6 = 18

3 x 7 = 21

3 x 8 = 24

3 x 9 = 27

3 x 10 = 30

4 x 1 = 4

4 x 2 = 8

4 x 3 = 12

4 x 4 = 16

4 x 5 = 20

4 x 6 = 24

4 x 7 = 28

4 x 8 = 32

4 x 9 = 36

4 x 10 = 40

5 x 1 = 5

5 x 2 = 10

5 x 3 = 15

5 x 4 = 20

5 x 5 = 25

5 x 6 = 30

5 x 7 = 35

5 x 8 = 40

5 x 9 = 45

5 x 10 = 50

awikwok

In [102]:
n= int(input("masukan jumlah baris:"))
for i in range (n):
    for j in range (i+1):
        print(j+1,end=" ") 
    print(' ')

masukan jumlah baris: 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [106]:
list_data=[]
n=int(input("masukan banyak data"))
for i in range(n):
    list_data.append(float(input("masukan data:")))
    print(i)

total=0
for number in list_data :
    total+= number

avr= total / n 
print (avr)

masukan banyak data 7
masukan data: 4

0

masukan data: 3

1

masukan data: 2

2

masukan data: 1

3

masukan data: 5

4

masukan data: 6

5

masukan data: 3

6
3.4285714285714284

### Minggu 7

In [109]:
a=30
b=25
c=40
d=20
e=35

sa=a*5
sb=b*3
sc=c*4
sd=d*10
se=e*6

print("Pendapatan dari buku A:",sa, "ribu IDR")
print("Pendapatan dari buku B:",sb, "ribu IDR")
print("Pendapatan dari buku C:",sc, "ribu IDR")
print("Pendapatan dari buku D:",sd, "ribu IDR")
print("Pendapatan dari buku D:",sd, "ribu IDR")

total= sa+sb+sc+sd+se
print("Total pendapatan dari penjualan semua buku :", total, "ribu IDR")

Pendapatan dari buku A: 150 ribu IDR
Pendapatan dari buku B: 75 ribu IDR
Pendapatan dari buku C: 160 ribu IDR
Pendapatan dari buku D: 200 ribu IDR
Pendapatan dari buku D: 200 ribu IDR
Total pendapatan dari penjualan semua buku : 795 ribu IDR

In [112]:
pengunjung = { "Senin": 20, "Selasa": 25, "Rabu": 30, "Kamis": 15, "Jumat": 40, "Sabtu": 50, "Minggu": 35 } 
total_pengunjung = 0
for hari in pengunjung:
    total_pengunjung += pengunjung[hari]
rata_rata_pengunjung = total_pengunjung / len(pengunjung)  
hari_terbanyak = "" 
jumlah_terbanyak = 0 
for hari in pengunjung:
    if pengunjung[hari] > jumlah_terbanyak:
        jumlah_terbanyak = pengunjung[hari]
hari_terbanyak = hari
print(f"Total pengunjung selama seminggu: {total_pengunjung}")
print(f"Rata-rata jumlah pengunjung per hari: {rata_rata_pengunjung:.2f}")
print(f"Hari dengan pengunjung terbanyak: {hari_terbanyak} dengan {jumlah_terbanyak} pengunjung")

Total pengunjung selama seminggu: 215
Rata-rata jumlah pengunjung per hari: 30.71
Hari dengan pengunjung terbanyak: Minggu dengan 50 pengunjung

In [114]:
nilai = int(input("cek angka"))
if nilai % 2==0:
              print("genap")
else:
              print("ganjil")
if nilai % 5==0:
                    print("kelipatan 5")
else:
    print("bukan kelipatan 5")

cek angka 4

genap
bukan kelipatan 5

In [120]:
nilai = int(input("nilai "))
if nilai >=90 and nilai <=100: 
    print("grade A")
elif nilai >=80 and nilai <=90:
    print("grade B+")
elif nilai >=70 and nilai <=80:
    print("grade B")
elif nilai >=60 and nilai <=70:
    print("grade C+")
elif nilai >=50:
    print("grade C")
elif nilai >=40:
    print("grade D")
elif nilai<=30:
    print("grade E")

nilai  5

grade E

In [124]:
usia = int(input("usia"))
tinggi = int(input("tinggi"))
pembelian= int(input("jumlah pembelian"))
if usia >= 10 and tinggi >=110:
    print("boleh naik wahana")
else:
    print("ga boleh naik wahana")
    
if member == True or pembelian > 500000:
    print("dapet diskon")
else:
    print("ga dapet diskon")

usia 19
tinggi 23
jumlah pembelian 100000

ga boleh naik wahana

NameError: name 'member' is not defined

In [126]:
for i in range (1,1000):
    print(i)
    if i == 10:
        break

1
2
3
4
5
6
7
8
9
10

In [130]:
n= int(input("masukan nilai"))
for i in range (1,n+1):
    for j in range (1,i+1):
        print(i, end = ' ')
    print()

masukan nilai 4

1
2 2
3 3 3
4 4 4 4

In [136]:
n= int(input("masukan nilai"))
angka =1 
for i in range (1,n+1):
    for j in range (5):
        print(angka,"", end = ' ')
        angka +=1
    print()

masukan nilai 10

1  2  3  4  5
6  7  8  9  10
11  12  13  14  15
16  17  18  19  20
21  22  23  24  25
26  27  28  29  30
31  32  33  34  35
36  37  38  39  40
41  42  43  44  45
46  47  48  49  50